@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap");

:root {
    --color-accent: #0083fc;
    --color-primary: #262a2f;
    --color-white: #fff;
    --color-black: #000;
    --color-grey: #a3a3a3;
    --container-width: 980px;
    --container-padding: 20px;
    --grid-col-width: 60px;
    --grid-gap: 20px;
    --bg-zero: var(--color-white);
    --bg-primary: var(--color-white);
    --foreground-primary: var(--color-primary);
    --color-scheme-switcher-border: var(--color-grey);

    color-scheme: light;
}

[scheme="dark"] {
    --bg-zero: #131517;
    --bg-primary: var(--color-primary);
    --foreground-primary: var(--color-white);
    --color-scheme-switcher-border: transparent;

    color-scheme: dark;
}

*:not(svg *) {
    all: unset;
    list-style: none;
    display: revert;
    box-sizing: border-box;
}

.--prevent-scroll {
    overflow: hidden;
}

a {
    display: block;
    text-underline: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

body {
    background-color: var(--bg-zero);
    font-family: Rubik, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--foreground-primary);
    min-width: calc(var(--container-width) + 2 * var(--container-padding));
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, var(--grid-col-width));
    gap: var(--grid-gap);
}

.line-limit {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
