@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap");

:root {
    --color-accent: #f53;
    --color-text: #262a2f;
    --color-grey: #868686;
    --color-white: #fff;
    --grid-col-width: 100px;
    --container-width: 1445px;
}

* {
    all: unset;
    list-style: none;
    display: revert;
    box-sizing: border-box;
}

a {
    display: block;
    text-underline: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: Rubik, sans-serif;
    font-size: 22px;
    font-weight: 400;
    min-width: var(--container-width);
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, var(--grid-col-width));
    gap: 20px;
}

.line-limit {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
